:root{
    --primary : #303392;
    --secondary : #5C5FAC;
    --accent : #1A1C59;
    --neutralLight : #E8E9F3;
    --neutralDark : #B2B4C9;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--neutralLight);
}

li a:hover{
    color: var(--neutralDark)
}